body{
    background-color: wheat;
    text-align: center;
}

h1{
    font-size: 50px;
}

h2{
    color:red;
}
img{
    width:50%;
    height:auto;
}
p,ol{
    font-size: 20px;
    color: black;
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.izbornik li a{
    color: red;
    font-size: 24px;
    text-align: center;
}